html {
  font-size: 1em;
}
#app {
  --font-family: Roboto, sans-serif;
  font-family: var(--font-family);
}

body {
  margin: 0;
}

@media screen and (max-width: 568px) {
  html {
    font-size: 0.8em;
  }
}
